{% extends 'ecommerce/Main.html' %}



{% load static %}



{% block content %}
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #eeeeee !important;
    }
    

    #messages{
        background-color: rgb(60, 139, 71);
        color: #fff;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
    }
</style>

<div class="container  d-flex flex-column justify-content-center align-items-center">
            
    <div class="col-sm-12 col-md-8 col-lg-6">

        <div class="card card-body mt-5 ">
            
                <h3 class="card-title text-center">LOGIN</h3>
            
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="userName">Username</label>
                        <input type="text" name="username" placeholder="Username..." class="form-control" id="userName">
                    </div>
                    <div class=" mb-3">
                            <label for="pass">Password</label>
                            <input type="password" name="password" placeholder="Password..." class="form-control" id="pass" >
                    </div>
                    <div class="d-flex justify-content-center mt-3 ">
                             <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                </form>

            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {% endfor %}			
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="{% url 'register' %}" class=""> &nbsp; Sign Up</a>
                </div>
               <!-- <div class="d-flex justify-content-center links">
                    Forgot password? <a href="#" class="ml-2 "> &nbsp; Reset Password</a>
                </div>
                -->
            </div>
        </div>
    </div>



{% endblock %}