{% extends 'ecommerce/Main.html' %}
{%load static %}
{% block content %}

<div class="row mt-3">
    <div class="col-12">
        <div class="card card-body ">
            <div class="d-grid gap-2 d-md-block">
            <a href="{% url 'orders' %}" class="btn btn-outline-secondary btn-inblock"><i class="fas fa-arrow-left">  Return to Orders</i></a>
            </div>
            <br/>
            <div class="table-responsive mt-3">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col"><h5>Items: <strong>{{order.get_total_items}}</strong></h5></th>
                            <th class="text-center" scope="col"><h5>Total: <strong>$ {{order.get_total_order_ammount}}</strong></h5></th>
                           
                        </tr>
                    </thead>
                </table>
                </div>
            </div>
        </div>
    </div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card card-body d-flex justify-content-center">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th></th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in orderItems %}
                        <tr class="text-center">
                            <td class=""><img src="{{item.product.image.url}}" class="p-0 m-1" width="90"  id="productImgList" /></td>
                            <td class="align-middle">{{item.product.name}}</td>
                            <td class="align-middle">{{item.product.price}}</td>
                            <td class="align-middle">{{item.quantity}}</td>
                            <td class="align-middle">${{item.get_total_ammount}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock%}